
<%- include('partials/header_results.ejs')  %> 

    
<div id="artistProfile">

    <h3> Your search for <%= artistName %> bought these results </h3>

</div>

        <div id="ListItems">

            <ul>
                <% arr.forEach((item) => { %>
                        <li><%= item %></li>        
                  <% }) %>
            </ul>
        
                <ul>
                    <% links.forEach((item) => { %>
                            <li><a href="<%= item %>">Explore</a></li>        
                      <% }) %>
                </ul>  
                <br>

        </div>


      

    </div>
    
    <script src='reload.js'>  </script>
<%- include('partials/footer_results.ejs')  %> 


</div >
